@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bannerLink {
    @apply text-offWhite p-3 font-medium border-solid border bg-black bg-opacity-10 uppercase text-sm inline-flex items-center justify-center shadow-shadowOne rounded-sm hover:bg-opacity-40 hover:border-designColor duration-300 hover:-translate-y-1 transition-all;
  }
  .bannerIcon {
    @apply w-16 h-16 bg-black bg-opacity-10 text-gray-200 text-xl inline-flex items-center justify-center rounded-md shadow-shadowOne hover:bg-opacity-40 hover:-translate-y-1 transition-all hover:text-designColor cursor-pointer duration-300;
  }
  .resumeLi {
    @apply w-full h-20 bg-black bg-opacity-25 text-xl text-gray-300 flex justify-center cursor-pointer hover:bg-opacity-40 duration-300 items-center border-[1px] rounded-none;
  }
}

.active {
  color: #e63946;
}

@font-face {
  font-family: "burtons";
  src: url("./assets/Burtons.otf");
}
